# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env
venv/
.env

# Pytest
.pytest_cache/

# Build / Dist
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Reports / Logs
report.html
*.log
