name: Pytest Selenium CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: windows-latest

    env:
      AWS_USERNAME: ${{ secrets.AWS_USERNAME }}
      AWS_PASSWORD: ${{ secrets.AWS_PASSWORD }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      EMAIL_FROM: ${{ secrets.EMAIL_FROM }}
      EMAIL_TO: ${{ secrets.EMAIL_TO }}
      EMAIL_SUBJECT: ${{ secrets.EMAIL_SUBJECT }}
      EMAIL_BODY: ${{ secrets.EMAIL_BODY }}

    steps:
      # 1️⃣ Checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Set up Python
      - name: Setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install python-dotenv
          pip install pytest-html
          pip install pytest selenium pillow pytesseract chromedriver_autoinstaller
          
      - name: Show requirements.txt
        run: cat requirements.txt

      # 4️⃣ Run Pytest tests
      - name: Run tests
        run: |
          python -m pytest -vs --html=report.html --self-contained-html

      # 5️⃣ Optionally upload HTML repo
